[2019-10-14 08:16] joeynimu opened #2 "Documentation when using Messaging"
I am trying to setup which uses the `messaging` option and I am struggling a bit to figure things out. Do you mind adding a guide on how to setup messaging? I'd be happy to do a PR for this if I get an idea of how to set it up.

Thanks

[2019-10-14 08:25] joeynimu opened #3 "Error when setting up"
I have followed the documentation but I get the below error when I run `gatsby develop` after setting up my `envs` and `gatsby-config`

[code]

My `gatsby info` has the below;

[code]

[2019-10-14 09:39] alexluong commented on #2
Hey @joeynimu, I don't use the `messaging` feature by Firebase myself, so I'm not familiar with it.

If you can give me an example of how you're using it in other React apps, maybe I can help figure out how to set up it for Gatsby.

[2019-10-14 09:53] alexluong commented on #3
Hey, this error message is quite ambiguous. Any chance you're using Flow or TypeScript?

I see that there is a similar-ish issue in the Gatsby repo, and TS seems to be the problem:

https://github.com/gatsbyjs/gatsby/issues/7398

I also set up an barebone site that uses `gatsby-plugin-firebase` on branch [example](https://github.com/alexluong/gatsby-plugin-firebase/tree/example) if you want to che

[2019-10-14 09:59] alexluong commented on #3
Also, I see that you're using Gatsby version `2.4.3`. There can potentially be an issue there. Any chance you can take this opportunity to update to the latest versions of your packages?

[2019-10-14 11:38] joeynimu commented on #3
@alexluong Thanks for this. Updating `gatsby` seemed to fix it. Closing this for now.

[2019-10-14 11:38] #3 closed

[2019-10-25 20:01] rafalluksza opened #4 "Documentation on gatsby.org"
Hi Alex,
thanks for making such a helpful plugin. I think there is a mistake in fragment about dotenv library and how to use it:
https://www.gatsbyjs.org/packages/gatsby-plugin-firebase/#usefirebase

I found that here in yours documentation it's written like that:

And it works!

Best regards!
Rafał

[2019-10-26 04:38] alexluong commented on #4
Thank you @rafalluksza for reporting the issue. There is a mistake in my initial documentation. I will publish a new patch with the fix right away.

[2019-10-26 04:38] #4 closed

[2019-11-05 13:29] UK090483 opened #5 "Old version if install with npm"
Hey Alex,
when I run npm install  gatsby-plugin-firebase (as mentioned in the dos), I get some old version that doesn't work at all.
I copyed the files from this repo manualy and this seems to work!
Maybe I'm to stupid and did something wrong but I acualy just followed the docs ...

All the best K

[2019-11-13 07:14] alexluong commented on #5
@UK090483 Hey, this is actually my bad. I'm experimenting with some new version and messed up the package. If you can run `npm install gatsby-plugin-firebase@0.1.3`, everything should work.

Sorry for the late response too.

[2019-11-13 21:40] davwheat opened #6 "useFirebase hook generating errors"
When using `useFirebase(firebase => { ... })` I keep getting errors.

[code]

[code]

---

If I try to use the `useContext` method, I then get this error...

[code]
[code]

[2019-11-14 13:02] jmaicaaan commented on #6
Same here.

[2019-11-14 14:04] AaronBentley commented on #6
Ditto for me too, it appears the 0.2.0-rc release is incomplete.

After having a dig through [the plugin code ](https://github.com/alexluong/gatsby-packages/tree/firebase/0.2.0/packages/gatsby-plugin-firebase/src)it appears to be missing a few files/features and has no export (named or default) to expose the useFirebase hook.

@alexluong can you confirm these findings? 😀

[2019-11-14 15:22] davwheat commented on #6
I wondered why IntelliSense didn't autocomplete the import.

On Thu, 14 Nov 2019, 14:04 Aaron Bentley, <notifications@github.com> wrote:

[2019-11-14 18:26] arnars commented on #6
Same issue. I also had to add my credentials into gatsby-config.js for it to work.
[code]

[2019-11-15 00:24] alexluong commented on #6
Hey folks, so sorry about this.

Run

[code]

This should fix it. I tried to upload an experimental `0.2.0` version but ended up messing things up.

Let me know if this doesn't fix it.

@davwheat @jmaicaaan @AaronBentley @arnars

[2019-11-15 08:11] jmaicaaan commented on #6
It is working using that version :) Thanks!

[2019-11-15 08:28] alexluong opened #7 "[RFC] gatsby-plugin-firebase v0.2.0"
Recently, I've learned that with Gatsby, you can import firebase directly and use it without any issue on the server side. There will be an ugly warning, but everything should work just fine.

Therefore, inspired by [`gatsby-theme-firebase`](https://github.com/epilande/gatsby-theme-firebase), I'd like to make some changes to this package.

## Mission

This package `gatsby-plugin-firebase` aims to

[2019-11-15 08:30] alexluong commented on #6
Awesome.

I'm super glad you're using my project. I'm working on a new version with some breaking changes, and I'd love to hear what you think about it.

The new version should simplify a lot of things and let you use Firebase like you're used to on the client side (create-react-app).

I created an [RFC](https://github.com/alexluong/gatsby-packages/issues/7) for it. Would love to hear your thought

[2019-11-15 08:31] alexluong commented on #5
See #6 and report any issues over there if you can. Thank you!

[2019-11-15 08:31] #5 closed

[2019-11-17 12:57] davwheat commented on #7
Sounds great!

When you get the chance, could you try to add Performance Monitoring to the plugin? [It's currently in Beta for the web.](https://firebase.google.com/docs/perf-mon/get-started-web)

[2019-11-19 01:32] jmaicaaan commented on #7
@alexluong  - What's the main difference on separating the imports? Much easier on the plugin specifically?

[2019-11-19 21:23] alexluong commented on #7
@jmaicaaan it's how Gatsby works. They render the site on the server once, and then rehydrates to a client React app on the browser. Therefore, with packages like `firebase` that only works on the browser, it can be tricky sometimes.

[2019-11-19 23:59] jmaicaaan commented on #7
@alexluong - Got it. Thanks! 👍

[2019-11-21 21:57] asktree opened #9 "No dependencies in package.json, so gatsby-plugin-firebase doesn't complain if firebase is outdated"
gatsby develop generates the following error:

[code]

Relevant gatsby-config snippet:
[code]

I shouldn't need to install firebase/analytics to use this plugin. What's going on?

[2019-11-21 22:08] asktree commented on #9
The issue was that I didn't have the most recent version of firebase. This package should probably specify dependencies :P

[2019-11-22 02:02] alexluong commented on #9
Thanks for the report. I'll keep in mind the issue and make sure it wouldn't happen for v0.2.

[2019-11-22 02:02] #9 closed

[2019-11-22 02:02] #6 closed

[2019-11-22 02:02] #2 closed

[2019-11-27 11:25] marcomelilli commented on #9
@alexluong In package.json I found: "firebase": "6.x".
But it seems it doesn't work with this version... I needed to upgrade to firebase 7.5.0

[2019-12-12 15:23] beldur opened #11 "credentials not given to <Layout> Component"
Hi,

the credentials from `pluginOptions` in `wrapRootElement` are not attached to the `<Layout>` component as props.

So if you set the `apiKey` in the plugin options instead of an environment variable, the key will be undefined and the initialization will fail.

See: https://github.com/alexluong/gatsby-packages/blob/master/packages/gatsby-plugin-firebase/gatsby-browser.js#L5

[2019-12-16 04:05] alexluong commented on #11
@beldur Thank you for catching the issue. Fixed and released a new version!

[2019-12-16 04:05] #11 closed

[2019-12-21 15:41] dimileeh opened #12 "Analytics and Performance Don't Work with gatsby-plugin-firebase"
According to Firebase docs, in order to enable Google Analytics inside a Firebase-enabled app, all you need is to import firebase/app.

Performance is also enabled by importing firebase/performance, followed by ```const perf = firebase.performance().```

However, when using `gatsby-plugin-firebase`, I just can't make Analytics and Performance work. I mean, when I create the production build and op

[2020-01-08 19:57] lucasavila00 opened #15 "Transpile code before publishing to NPM"
I'm having issues using jest and this package.
Jest won't transform the code because it is a JS file and then it errors because of non-compliant syntax

[code]

If anyone else has this problem:
I was able to make it work by telling jest to transform this library by setting "transformIgnorePatterns" to:
[code]

[2020-01-17 05:54] alexluong commented on #15
Thank you for reporting this issue. It seems like you found a solution to it. For the time being, I would not attempt to fix this as I'm experimenting with the next version of the package. I'd keep this in mind and try to avoid it in future iterations.

[2020-01-17 05:54] #15 closed

[2020-01-17 05:58] alexluong commented on #12
I'm not super familiar with the analytics and performance functionality of Firebase. I'd welcome any help if you feel like going over the source code of the package.

[2020-01-17 18:32] davwheat commented on #12
I didn't think analytics was working either when I created my PR to add them to this project but it turns out they do work fine.

It seems Firebase doesn't like showing your stats even up to 2 weeks after you enable it on your project and add it to your app.

This web app is built with Gatsby and this plugin and stats are now being reported:

![image](https://user-images.githubusercontent.com/7406

[2020-02-19 10:19] samantha-wong opened #16 "building project returns webpack error"
project runs locally as expected but building it gives me the following errors:

**using**
useFirebase(firebase => {
    firebase.auth().onAuthStateChanged(async user => {
      await setUser(user)
    })
  }, [])
**returns:**
 WebpackError: TypeError: Object(...) is not a function

**using**
const firebase = React.useContext(FirebaseContext) returns

**returns:**
WebpackError: TypeError: Cannot r

[2020-02-19 10:29] #16 closed

[2020-03-03 08:38] alexluong commented on #12
I published v2 of the plugin. Please create another issue if this is a problem.

[2020-03-03 08:38] #12 closed

[2020-03-03 08:39] alexluong commented on #7
Published v2

[2020-03-03 08:39] #7 closed

[2020-03-03 22:21] AaronBentley opened #17 "measurementId not set on firebase.initializeApp()"
@alexluong Thank you for your efforts on this awesome plugin , loving the updates in 0.2.0-beta.3 👏

More of a heads up than an issue - whilst migrating I noticed the measurementId is not set as it's not provided on `firebase.initializeApp()` - which makes `firebase/analytics` really cranky, like, big red text cranky 😱

<img width="823" alt="Screenshot 2020-03-03 at 22 18 03" src="https://user-ima

[2020-03-03 22:27] alexluong commented on #17
Thanks for reporting the issue @AaronBentley. This is definitely an oversight on my part. Published another version `0.2.0-beta.4` with a fix. Let me know if this is still an issue!

[2020-03-03 22:27] #17 closed

[2020-03-03 22:57] AaronBentley commented on #17
Thank you @alexluong, confirmed as a fix ✅

I may have found another, wasn't sure whether to raise it as an additional issue or not - after installing 0.2.0-beta.4 and adding...

[code]

...to both `gatsby-browser.js`& `Gatsby-ssr.js` - running `gatsby develop` fails with the following error:

<img width="950" alt="Screenshot 2020-03-03 at 22 50 29" src="https://user-images.githubusercontent.com/3

[2020-03-03 23:02] alexluong commented on #17
@AaronBentley I can't seem to reproduce this issue. Can you create a codesandbox or a sample repo with just `gatsby-plugin-firebase` with this issue?

[2020-03-04 09:57] AaronBentley commented on #17
Thanks for investigating @alexluong, I've created [an example on CodeSandbox](https://codesandbox.io/s/gatsby-plugin-firebase-diagnostics-j9h3p?fontsize=14&hidenavigation=1&theme=dark) as requested.

In this sandbox, I'm getting a different 'IDB' error on the reproduced case...

![Screenshot 2020-03-04 at 09 51 36](https://user-images.githubusercontent.com/3936200/75867040-e34ffa80-5dfd-11ea-8611-

[2020-03-04 16:39] BenAOlson opened #19 "Error compiling html.js when using wrapRootElement in gatsby-browser.js and gatsby-ssr.js with select firebase imports"
As mentioned in [this comment on another issue](https://github.com/alexluong/gatsby-packages/issues/17#issuecomment-594214515), there is an error compiling html.js after running either `gatsby develop` or `gatsby build` when `wrapRootElement` is used in conjunction with select firebase package imports in `gatsby-browser.js` and `gatsby-ssr.js`. Specifically, at least `messaging`, `analytics`, and

[2020-03-04 17:33] dimileeh commented on #12
Sorry, guys, I've lost track of this reported issue. As @davwheat pointed out, Analytics and Performance turned out to work just fine. My statement that they don't work were based on the fact that the Google Tag Analyser Chrome extension weren't displaying any tags for my Gatsby website with `gatsby-plugin-firebase`. I guess it's the Chrome extension's problem.

Thank you very much for the v2 upda

[2020-03-04 17:58] BenAOlson commented on #19
It occurs to me that it's not obvious why those firebase packages would need to be imported to `gatsby-ssr.js` anyway. I'm fairly new to Gatsby, but it seems like it would be fine to just import them in `gatsby-browser.js` since firebase only needs to be used during runtime, right?

I've tried building my project without any firebase imports in `gatsby-ssr.js` and everything seems to work correctl

[2020-03-04 20:10] alexluong commented on #19
@BenAOlson That's a valid point. If you don't include the Firebase imports in `gatsby-ssr.js`, everything works as expected?

Would you be interested in making a PR in the docs?

[2020-03-04 20:52] BenAOlson commented on #19
Yes, as far as I can tell everything is working correctly of the things I have used so far in both development and from a full build.

[2020-03-15 07:29] jeffreymeng opened #21 "[gatsby-plugin-firebase] Error with SSR using netlify"
I'm using gatsby-plugin-firebase in conjunction with react-firebase-hooks, and everything works on my local dev server. However, I'm also using netlify, and all of my builds are failing after upgrading to v0.2.

I'm getting this error:
[code]
[code]

[2020-03-16 02:58] alexluong commented on #21
Do you have `import "firebase/auth"` in your `gatsby-browser.js`?

[2020-03-16 03:05] jeffreymeng commented on #21
Yes. As I said, everything works on the dev server. It's only on netlify that the build breaks.

[2020-03-16 03:16] alexluong commented on #21
Oh I see what's going on.

So at build step, you should not access Firebase, (especially authentication state, since you don't know if the user is authenticated or not).

I think here are a few options:

1. Write your own `useAuthState` hook that accept `null` as argument
2. Make a PR to `react-firebase-hooks` to accept `null` as argument
3. Structure your code like so:

[code]

You can probably a

[2020-03-16 06:05] jeffreymeng commented on #21
This helped a lot, thanks.

I ended up writing my own useAuthState hook, which I posted [here](https://gist.github.com/jeffreymeng/78bd7f6b0f301fa5ef04359cd512222b) if anyone from the future is interested.

[2020-03-16 06:05] #21 closed

[2020-03-31 08:44] AvilaAi opened #23 "WebpackError: TypeError: gatsby_plugin_firebase__WEBPACK_IMPORTED_MODULE_0__.d efault.firestore is not a function"
I'm trying to use firestore and have imported it in both brower.js and ssr.js, it works in develop, but i got this issue when build:

[code]

As mentioned in another issue that no need to import the pacakge in ssr.js, i tried but still not working, anyone can help? thanks

[2020-03-31 08:54] AvilaAi commented on #23
problem solved, just use
[code]
instead of
[code]

[2020-04-03 00:12] YoonuchOfficial opened #24 "How to implement Firebase Analytics"

[2020-04-03 03:37] alexluong commented on #24
You should be able to use Firebase Analytics as you use any other Firebase services:

[code]

[code]

[code]

[2020-04-04 01:18] YoonuchOfficial commented on #24
Thank you 😊

[2020-04-04 01:18] #24 closed, assigned to nobody

[2020-04-21 22:32] davshoward opened #25 "use query params help"
Hi there,

Got the plugin all installed and working in the sense that it updates the setQuery hook and the URL updates, but the 'query' variable doesn't update also - it stays at whatever the option was on the page load.

Any ideas why this is?

[2020-04-22 00:00] alexluong commented on #25
Can you double-check that you have `"gatsby-plugin-use-query-params"` in your `gatsby-config.js` file?

If that's not the issue, a simple Codesandbox reproduction would be very helpful! Thanks

[2020-04-22 21:03] davshoward commented on #25
That was the issue (ugh, sorry), but not it's snapping to the top of the page each time.

Will see if I can debug why unless you happen to know? :-p

[2020-04-22 21:05] alexluong commented on #25
Can you elaborate a bit? I'm not sure I fully understand what the issue is.

[2020-04-22 21:07] davshoward commented on #25
Updating the query string essentially triggers a full page reload (thus snapping the page back to the top rather than remaining in place). Assumed that wasn't the intended output unless I've misunderstood.

[2020-04-22 21:08] alexluong commented on #25
Oh I see. This sounds like an upstream issue? If you can provide a sample CodeSandbox reproduction, I'd be happy to take a look at it!

[2020-04-22 21:42] davshoward commented on #25
Got one setup here: https://codesandbox.io/s/dreamy-mcclintock-1nqmb

There's a select field down the bottom of the page - if you choose an item, then it snaps back to the top.

[2020-04-25 23:07] fmontes commented on #23
Didn't work for me.

[2020-04-30 02:31] mikan3rd commented on #23
Similar problem occurred when building.

[code]

I can fix it by adding `import "firebase/auth"`, but that was not specified in the document.

[2020-05-02 01:07] catvec commented on #23
I am running into the same problem, but with any of the services (ie `firebase.messaging()`, `firebase.firestore()`, ect).

My project's `gatsby-browser.js` file:

[code]

My Gatsby page which uses the Firebase plugin:

[code]

When I run `gatsby develop` my page everything works.
However when I run `gatsby build` (For production) I get the error above.

I added a `console.log` statement to `node_

[2020-05-02 15:57] catvec commented on #23
I went through all the trouble of using Firebase in my app without this plugin, and then I got the same error. So this must be related to the way Firebase is imported or used generally...

[2020-05-02 17:33] catvec commented on #23
Ok I found 2 definite fixes.

As far as I can tell the reason this is happening is that during the build HTML stage the imports you put in your own `gatsby-browser.js` and `gatsby-ssr.js` files are not used. Because we are in the NodeJs environment. As a result all the Firebase API client factory methods like `firebase.auth()`, `firebase.functions()`, ect are not available.

# If You Are Using Hoo

[2020-05-05 07:26] davwheat commented on #23
Can confirm this is also an issue for me.

[2020-05-05 07:31] alexluong commented on #23
[Noah's answer](https://github.com/alexluong/gatsby-packages/issues/23#issuecomment-622988231) is spot-on. I don't really have anything else to add.

Let me know if what they said doesn't work for you and I can answer on a more case-by-case basis. Thanks folks!

[2020-05-05 07:38] davwheat commented on #23
One issue is that I'm using this with the react firebase hooks package. This problem changes my nice one line into an absolute mess, because hooks can't be used in useEffect callbacks.

[code]

I might just fork that package and edit it to make the changes there.

[2020-05-05 07:46] alexluong commented on #23
Yeah, in this use case I don't think there's anything I can do to help with the integration with `react-firebase-hooks`. May worth opening an issue over there?

[2020-05-05 15:08] davwheat commented on #23
I decided to just fork it and make it compatible: `react-gatsby-firebase-hooks`

---

Whatever I tried just broke it more and more... I just used `useEffect` in the end.

[2020-05-06 00:05] davwheat opened #27 "Custom Firebase Functions region"
The region for firebase functions must be declared at initialisation, but this package doesn't provide any way to give a region.

This is really important to reduce latency as much as possible.

https://firebase.google.com/docs/functions/locations#client-side_location_selection_for_callable_functions

[2020-05-07 19:07] yzalvov commented on #27
@davwheat try this:
[code]

[2020-05-07 19:10] davwheat commented on #27
Ooh I didn't think about the fact that app was exported too! I'll try that.

[2020-05-08 09:53] yzalvov commented on #27
One more thing is needed to have `gatsby build` successful. You'd have to use `typeof window !== 'undefined'` check as Gatsbyjs docs suggest at [How to check if window is defined](https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined). So the code above would become:
[code]

[2020-05-08 09:56] alexluong commented on #27
Hmm I'll take a look into this issue once I have the time. That seems a little annoying.

If that's the only way to go about this, would yall want me to do all these aliases and export them from `gatsby-plugin-firebase` so you won't have to do it?

[2020-05-08 10:09] davwheat commented on #27
@yzalvov You can always just stick it in a `useEffect`, which looks much cleaner in my opinion.

[2020-05-08 21:21] justdilley opened #28 "Firebase Service Account Keys"
Is there a way to convert the status credentials to initialize Firebase using the Service Account json keys/file?

[2020-05-08 21:27] alexluong commented on #28
`gatsby-plugin-firebase` uses [`firebase`](https://www.npmjs.com/package/firebase) and not [`firebase-admin`](https://www.npmjs.com/package/firebase-admin).

Is there a reason why you want to initialize with service account keys?

[2020-05-08 21:36] justdilley commented on #28
Oh, that makes sense.

I want to be able to use my Service Account keys as my auth mechanism to limit permissions to add data to my firestore database.

I'm also a React + Gatsby newbie so maybe I'm doing something wrong.

[2020-05-17 16:43] davshoward commented on #25
Wondered if you'd had an opportunity to look at this? :-)

[2020-05-28 15:43] div-cowboy commented on #23
I'm still having issues with this even after reformatting my code to match @Noah-Huppert's.

My code works in development but throws an error that one of my context functions is not actually a  function when I call isLoggedIn in my header component. Even with the isNode() code, Gatsby tries to access stuff from my Firebase context during the static page generation. Would appreciate any help with t

[2020-05-29 16:17] daydream05 opened #30 "How do I lazy load firebase?"
I'm only using gatsby-plugin-firebase for select pages but it seems that the firebase bundle is also being added to the pages that don't use it. How would I go about fixing this?

[2020-06-19 01:32] Andrewjeska opened #31 "This is a browser-targeted Firebase bundle... error on gatsby build"
[code]

All I want to use is `firebase/auth`. I have this imported in `gatsby-browser.js` and `gatsby-ssr.js` as per the docs. Is there something here that I need to do to get it to work? Let me know what other details would be helpful!

[2020-06-20 19:24] molebox commented on #31
Im seeing this too

[2020-06-20 20:36] alexluong commented on #31
Hey @Andrewjeska, @molebox, can you try removing the `import "firebase/auth"` from `gatsby-ssr.js`?

You don't need the Firebase import lines in `gatsby-ssr.js`.

[2020-06-22 05:06] Priyatham51 commented on #31
@alexluong  I'm seeing the same issue. Everything works with `npm run develop` issue is only when running `npm run build`

[2020-06-22 17:50] Andrewjeska commented on #31
I've seen moved off gatsby for separate reasons, but I do remember trying it without the import in `gatsby-ssr.js`

I think it has to do with how it's used within your components.

[2020-06-23 15:45] ps-feng commented on #31
I'm seeing this with `npm run develop` too, tried removing the import from `gatsby-ssr.js` but nothing changed. Using version `0.2.0-beta.4`.

[2020-06-24 15:43] molebox commented on #31
This is the fix: https://gist.github.com/jeffreymeng/78bd7f6b0f301fa5ef04359cd512222b

[2020-07-01 02:49] alfredohzb commented on #31
I just need to use `import "firebase/database"` and I'm seeing this message too, what can I do?

[2020-07-10 08:03] hrishikesh-k opened #32 "Cannot read property 'apiKey' of undefined"
Hello, I was just trying to setup this plugin for my project, but, can't get past the `gatsby-config.js` phase.

I've added the plugin in my `gatsby-config.js` like this:

[code]
with the respective values from the config Firebase gave my app. However, when I run `gatsby develop` in console, I get:

[code]

This seemed to me like the easiest step, but, has kept me puzzled already. I'm using `"gats

[2020-07-11 22:14] alexhillel opened #33 "gatsby-plugin-use-query-params jumps to top of the page when a query param is set"
Excellent work wrapping this hook up for use in Gatsby, but is there a reason there is a jump to the top of the document when a query parameter is set? This is also reported by various other people in https://github.com/pbeshai/use-query-params/issues/56

Is there a way for this to be solved in the plugin?

[2020-07-18 20:54] Morgantheplant commented on #33
Running into this problem as well. I am very new to Gatsby so bear with me..
Here's what I found so far. Added this line above the component that's using useQueryParam:
[code]
Sure enough that was being called and I used that to walk up the call stack. It's a little hard to follow since this bounces between Gatsby and the `scroll-behavior` library via callbacks.

I could be wrong, but it appears l

[2020-07-20 04:20] Inlesco opened #34 "Why is gatsby-plugin-firebase still in beta? What are the missing features to make it stable? (Roadmap?)"
I was wondering, why is gatsby-plugin-firebase still in beta? What are the missing features to make it stable? What's the current vision in that regard?

[2020-07-22 09:00] alexanderjsx commented on #23
Clean code for auth:
[code]

[2020-07-23 15:32] gristleism commented on #31
Running into this issue as well, if there isn't a current fix it would be great to see the documentation updated to warn about this problem as it's pretty frustrating to have gotten so far into development to find that following the documentation leads to errors in usage.

[2020-08-02 22:04] perriea commented on #32
Same issue ...

[2020-08-13 19:15] Marcusg62 commented on #31
I have replicated this issue on a project I'm working on. You can find the [repo here](https://github.com/Marcusg62/inhouse-marketing-site). Most of the firebase stuff is in src/firebase/firebaseService.tsx

It works fine when running `gatsby develop` but `gatsby build` produces the following error.
<img width="732" alt="Screen Shot 2020-08-13 at 1 14 20 PM" src="https://user-images.githubusercont

[2020-08-13 19:19] alexluong commented on #31
Can you try removing [these lines](https://github.com/Marcusg62/inhouse-marketing-site/blob/51a2e6a01f9215016de3e8eae12fc177da2f6840/inhouse-marketing/src/firebase/firebaseService.tsx#L4-L9) and move them inside the function scope?

[code]

[2020-08-13 19:31] Marcusg62 commented on #31
I'm assuming this is what you mean.

https://github.com/Marcusg62/inhouse-marketing-site/blob/7df3aa47a2e58454db5bc3623f04a408d562a089/inhouse-marketing/src/firebase/firebaseService.tsx#L97-L103

Done. I get the same error when trying to build. I've pushed to master if you'd like to take a look.
<img width="732" alt="Screen Shot 2020-08-13 at 1 25 56 PM" src="https://user-images.githubusercontent.

[2020-08-16 18:45] tajnehme opened #35 "Gatsby Firebase Plugin on Production"
Hello Alex,

Thank you for this plugin, I have learned alot from it and the process of integrating firebase authentication.

I am running into a roadblock with the plugin, I am able to deploy locally and it works.

But when I deploy authentication to my live site on production, the app breaks and does not load...
I believe it has something to do with the firebase plugin, has it been tested for pro

[2020-08-25 04:02] Marcusg62 commented on #31
@alexluong I recommend archiving this repo.

[2020-08-25 11:20] gristleism commented on #35
@tajnehme You can see at this [other issue](https://github.com/alexluong/gatsby-packages/issues/31) that numerous other users have issues with this repository in production, it seems to  be broken. I recommend not using this package and following the instructions of a tutorial like this one [Using Firebase with Gatsby](https://invertase.io/blog/firebase-with-gatsby).

[2020-10-01 13:56] bennchong commented on #23
I am having issues now with the library 'react-firebase-hooks', where even in gatsby develop firestore is not a function.

[2020-10-15 01:35] theskillwithin commented on #31
Any luck on a solution for this?

[2020-11-12 18:54] OronNadiv opened #36 "gatsby-plugin-firebase v0.1.8 throws an error while running with firebase v8.0.1"
This error is thrown while using `"gatsby-plugin-firebase": "0.1.8"` with `"firebase": "8.0.1",`.
[code]

Downgrading firebase to `"firebase": "7.24.0"` made the error disappear.

This is the code in
[code]

[2020-12-15 05:15] oscar-gallog commented on #35
gstby-firebase doesn't work at all. I don't even know why is available when it's obvious that it doesn't work.

This is literally step 3:

**3. Import Firebase feature packages**
In gatsby-browser.js and gatsby-ssr.js, import Firebase packages that you would like to use.

But if you do it everything crashes.... so? Looks like the only way is just doing a workaround, but the library just doesn't wo

[2020-12-16 00:17] bayareacoder commented on #35
The README on NPM is wrong, maybe an older version. If you look at the code here on Github, you'll see that the Firebase packages are only being imported client-side, in the root layout component, and only inside an effect upon component mount. His `useFirebase` hook is actually very smart to avoid issues on the very first render when firebase is not yet initialized (since it gets initialized in a

[2020-12-16 01:21] bayareacoder commented on #36
Probably because of this breaking change in v8:
https://firebase.google.com/support/release-notes/js#version_800_-_october_26_2020

[2020-12-22 09:48] AndiZandi commented on #33
Worked perfectly! Thanks so much!!! Saved my life :)

It'll still scroll up when you have no params anymore, so if you remove all params via buttons or so, itll scroll to the top. Can bypass this as well by not only checking for the param and returning false in the case of its existence, but also checking for location.pathname or whatever you want.

[2021-03-10 06:15] fczuardi commented on #31
This patch worked for me (react-firebase-hooks + gatsby-plugin-firebase using for auth only)

[2021-04-24 13:07] Transfusion commented on #25
A solution that worked for me can be found here https://github.com/alexluong/gatsby-packages/issues/33#issuecomment-660541167 Here's a demo with [my test fork](https://github.com/Transfusion/gatsby-plugin-use-query-params): https://codesandbox.io/s/busy-northcutt-tj240

Note that it still jumps to the top when resetting to "Any" since I'm merely checking for the presence of `?` in `window.location

[2021-07-16 13:27] sweethuman commented on #34
For example using firebase in statically rendered pages leads to #23

[2021-07-16 15:28] suntudo commented on #31
Hey all, just wanted to post an update to this thread in case anyone else is trying to get Firebase working in production.

I highly recommend you check out how the [gatsby-firebase-simple-auth](https://github.com/marcomelilli/gatsby-firebase-simple-auth) starter handles this issue. Shout out to Marco Melilli for building this starter.

He uses client-only routes for the login page and protected r

[2021-09-10 23:09] mattandryc opened #38 "Breaking change in Firebase ^9.0.2 (Solution)"
In the latest version of firebase (^9.0.2), there's no default export in "firebase/app".

You can get this working by modifying the import in gatsby-plugin-firebase/src/firebase.js as follows:

import firebase from "firebase/app"; → import firebase from "firebase/compat/app";

[2021-10-07 21:42] simply-alliv commented on #38
Is there a reason why there hasn't been any PR to fix this? I feel like it isn't right to modify files found inside the node_modules folder.

This solution also fails to account for when `npm install` is run on a different machine such as CICD. The code would be overwritten and go back to its original state.

[2021-10-21 20:00] ChrisCrossCrash opened #41 "`gatsby-plugin-use-query-params` not working with Gatsby V4"
After following the [migration guide](https://v4.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/) and updating from Gatsby V3 to V4, I'm having problems with `useQueryParams()` in my project. I suspect it has something to do with how all of my other `gatsby-plugin-*` packages needed to be updated for V4, but an update wasn't available for `gatsby-plugin-use-query-params`.

Do yo

[2021-11-04 13:42] ansaf-kz opened #42 "Gatsby Redux Firebase"
I've followed [this ](https://medium.com/@amirjfry/how-to-set-up-the-redux-thunk-on-your-gatsby-project-6058d8b1a12f)guide on adding Redux to Gatsby - it works just fine. I did every step from[ this official guide](https://www.gatsbyjs.com/plugins/gatsby-plugin-firebase/) on adding Firebase to Gatsby.

I get the error below. How can I add firebase to my Gatsby Redux?

`'firebase_app__WEBPACK_IMPOR

[2021-11-05 13:01] justinmahar commented on #41
Same here. Using any setter with "replaceIn" causes my Gatsby site to render a 404.

[2021-11-05 13:15] justinmahar commented on #41
Looks like at the heart of the plugin it's wrapping the root element with a `QueryParamProvider` from the `use-query-params` package. Without it, use-query-params complains that it needs to consume that context.

[code]

Somehow this isn't sufficient anymore.

[2021-11-05 13:55] justinmahar commented on #41
## Workaround 💪

#### UPDATE: You can try the [Replacement Hook Solution](https://github.com/alexluong/gatsby-packages/issues/41#issuecomment-1126779816) below which makes this plugin obsolete.

---

I realized this had something to do with Reach router detecting the URL changes and that there are a few ways we can tell Gatsby to ignore certain paths.

### Limitations

The limitation to this worka

[2021-11-07 21:06] ChrisCrossCrash commented on #41
Thanks for the workarounds, @justinmahar! I'll see if one of them fixes the issue for me when I have time. It would be really nice if this issue gets fixed before then.

[2021-11-09 20:36] krishna-acondy commented on #23
@Noah-Huppert Thanks for the fix you suggested. Worked great for me! 🙌🏽

I have a small addition - when you're using the `FirebaseContext` in combination with `react-firebase-hooks`, `gatsby build` will still complain if you haven't provided a value via the `FirebaseContext.Provider`.

I was able to get past that by providing a no-op `firebase` object like so:

[code]

[2021-11-18 21:34] linoxyn commented on #38
Now Firebase version 10 has completely changed things...for the better. Will the gatsby-plugin-firebase be updated to implement this to take advantage of the upgrade?

[2021-12-08 22:34] dtcbyron commented on #41
Has anyone solved this problem yet? If not I would be willing to make a PR

[2021-12-09 07:24] ChrisCrossCrash commented on #41
@byronlanehill I haven't. This issue was just the straw that broke the camel's back and made me switch the site I was having problems with over to Next JS. I'm only aware of the workaround that @justinmahar posted previously on this issue.

[2022-01-06 18:16] Ksan8 commented on #41
@byronlanehill If you would be willing to make a PR, that would be fantastic. Unfortunately, because of the particularities of the app I'm working on, we can't use the workaround without hard-coding a bunch of paths, and that's simply unmaintainable. Without this package being updated, we'd have to switch to a different package.

[2022-01-06 18:19] dtcbyron commented on #41
@Ksan8 I actually recently switched to using use-query-params directly in my layout that wraps each page as it is only a few lines of code and reduces complexity in my opinion. If you'd like me to share the code is be more than happy to

[2022-01-06 18:20] Ksan8 commented on #41
@byronlanehill That would be fantastic. Thank you!

[2022-01-06 19:28] dtcbyron commented on #41
`wrapPageElement.jsx`
[code]

`gatsby-browser.js`
[code]

`gatsby-ssr.js`
[code]

Test before putting into production of course, but this has worked for me adequately. I don't think it would keep location.state if you needed that, and it wouldn't keep hashes by default either.

[2022-01-06 19:30] dtcbyron commented on #41
`shouldUpdateScroll.js`
[code]

`gatsby-browser.js`
[code]

I also keep this in the same project. It preserves the scroll if only query parameters changed, which is required in most cases when you are using use-query-params.

[2022-01-06 19:31] dtcbyron commented on #41
I will see about publishing a PR this weekend so we can get the functionality into this plugin, but if it is urgent you can add this directly to your project for now.

[2022-01-06 19:53] dtcbyron commented on #41
@Ksan8 I updated the code for the wrapPageElement API and that should fix the previous problems I mentioned.

[2022-01-06 21:43] Ksan8 commented on #41
@byronlanehill Worked like a charm! I do notice that sometimes there is a quick page-reload flicker, but it doesn't seem to be happening consistently. Thanks again.

[2022-01-07 16:03] dtcbyron commented on #41
@Ksan8 Is it happening in production or just in dev?

[2022-01-07 16:14] Ksan8 commented on #41
@byronlanehill The flicker seems to happen (intermittently) with both a dev and prod build, though I haven't yet deployed to Staging to check fully. It's not a major concern, just something I noticed.

[2022-01-07 16:17] dtcbyron commented on #41
Okay, let me know how that goes! I will likely use this exact code to make a PR for this package, so hopefully we can get that bug worked out before then

[2022-03-04 23:23] stevepepple commented on #41
Any chances this will get fixed?

[2022-04-21 21:25] brydonm commented on #41
Bumping this again, running into this issue myself.

[code]

[2022-05-02 21:56] TannerJuby1 opened #43 "Set Query Param results in a 404 Page Not Found."
I am using the query param to try and filter out some results and this module works when querying the params but not when trying to update them

[code]

When I try this, and click the button, I get immediately redirected to the 404 page saying the page doesn't exist. What's stranger is if I type something into the gatsby develop's 404 Page search box, as soon as I type a letter it loads the page c

[2022-05-03 10:21] dumle11 commented on #41
I managed to get around the 404 issue by removing both `use-query-params` + `gatsby-plugin-use-query-params` and used other library instead (`query-string` for grabbing params works well for me with useState).
Then I use `window.history.replaceState({...})` to update my query/page.

[2022-05-04 20:23] ejscribner commented on #43
Having the same issue; also reported in https://github.com/alexluong/gatsby-packages/issues/41

Theres a solution that involves wrapping the page element with `<QueryParamProvider>` manually, and it fixes the 404 error but introduces a page flicker effect on transition instead, which isn't optimal...

Any chance for a fix on the Gatsby plugin soon?

[2022-05-04 20:41] ejscribner commented on #43
The first workaround described in https://github.com/alexluong/gatsby-packages/issues/41#issuecomment-961913780 also fixes the 404 issue without the flicker effect, but feels like a bit of a hack..

[2022-05-05 08:08] aemaem commented on #41
I can confirm that [workaround #1](https://github.com/alexluong/gatsby-packages/issues/41#issuecomment-961913780) works.

[2022-05-14 17:22] justinmahar commented on #41
## Replacement Hook Solution

I've created a hook solution that incorporates the suggestions from @dumle11 above to eliminate the need for this plugin altogether.

This hook solution is now available via the npm library [react-use-query-param-string](https://www.npmjs.com/package/react-use-query-param-string).

You can view the code for the hook code [here](https://github.com/justinmahar/react-use

[2022-05-20 19:59] ixhukellari commented on #41
So i have two components that I'm using useQueryParamString one to set the query param and one to get it. So when i change the query with my setter component it doesn't re-render and the second component never gets the new query param value

[2022-05-20 20:09] justinmahar commented on #41
Ahh yeah, that's a use case the hook def doesn't cover. I might end up making a context wrapper for this to address that.

[2022-05-20 20:26] ixhukellari commented on #41
@justinmahar Thank you for spending your time on this

[2022-05-21 00:14] justinmahar commented on #41
@ixhukellari Alright! So I tackled this for a bit and decided to go with a lighter weight [event emitter](https://justinmahar.github.io/react-use-query-param-string/?path=/story/hooks-usequeryparamstring--page#state-synchronization-and-event-emitter) approach. When changing params, all hooks fetch the latest value.

All you have to do is update the library and things should magically work ;)

[cod

[2022-05-23 13:14] ixhukellari commented on #41
@justinmahar Sorry i just saw this. I just tested it and it works. Thank you so much!

[2022-05-23 13:42] justinmahar commented on #41
Welcome!

[2022-07-06 17:39] merakinoya opened #45 "Error in function eval in ./node_modules/gatsby-plugin-firebase/src/firebase.js:3"
Hai, I have an error like this
Cannot read properties of undefined (reading 'apps')

![image](https://user-images.githubusercontent.com/19262798/177610476-c1e12e68-a864-40fc-ade2-66a4337d7c2f.png)

How to fix that? Thanks 🙏

[2022-07-07 15:35] Sepci0 commented on #45
https://github.com/alexluong/gatsby-packages/issues/38

Basicly why this problems happnes, and why this package is not compatible with newest firebase versions.

[2022-08-22 19:11] rra opened #46 "gatsby-plugin-use-query-params broke with use-query-params 2.0.0"
A very simple use of this plugin with `use-query-params` now fails during the Gatsby build with:

[code]

This appears to be due to the changes to the adapter setup in the new use-query-params.

[2022-08-23 10:45] squashimodo commented on #46
I have solved this by creating a custom adapter and passing it to `<QueryParamsProvider>` wrapped around the root in `gatsby-browser` & `gatsby-ssr`

[code]

It requires`enableBatching` to be set in the Provider also.

[2022-09-26 07:21] xSyki commented on #46
@alexluong
Hi,
Do you plan to update and support use-query-params v2?

[2022-10-05 22:44] jwhubert91 commented on #41
@justinmahar your cool new hook worked for me too! Thanks for putting that together 💪

[2022-10-13 14:40] lawrenceong001 commented on #41
@justinmahar  -- came back here to thank you for your contribution. it has solved the issue after a bit of head scratching.